.psiturk_history
*.log
*.db
.Rproj.user
models/*.html
participants.db
server.log
.Rhistory
code/R/.DS_Store
code/R/analysis/.Rhistory
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.out
*.synctex.gz
*.toc
.DS_Store
